// BG
$main-bg: #1c2634; 
$soft-bg: #2a3447; 
$dark-bg: #161d28; 

// TEXT
$main-color: #ffffff; 
$soft-color: #a2a9b8; 
$dark-color: #1c2634;  
$accent-blue: #4a90e2; 
$accent-red: #ff5f5f; 
$accent-orange: #ff9c5f; 
$accent-green: #7ed321; 
